$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

html,body {
  font: 100% $font-stack;
  color: $primary-color;
  height: 100%;
  margin: 0;
  padding: 0;

   #map {
        height: 100%;
      }
}

